doctype html
html(lang="de", dir="ltr")
  head
    title
      | Dummy index
    link(type="text/css", rel="stylesheet", href="../design/index/index.css")
  body
    #page
      #content
        | ~content